.contect{
    margin: 50px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contect h1{
    margin-top: 25px;
    margin-bottom: 25px;
}

.contect > p{
    width: 450px;
    margin-bottom: 25px;
}

.par{
    text-align: center;
}
.contect form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contect form input{
    width: 70%;
    height: 40px;
    margin-bottom: 15px;
    margin: 0px 10px;
}
.contect form button{
    width: 20%;
    height: 40px;
    background-color: rgb(219, 187, 2);
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin: 0px 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}